.searchBar {
    margin: auto;
    overflow: hidden;
    display: flex;
    width: 60%;
}

.searchBox {
    display: inline-flex;
    flex: 2;
    width : 50%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 22px;
    outline: none;
    border: none;
}

.searchButton {
    background-color: white;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.searchButton:hover{
    background-color: rgb(167, 164, 164);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}

html{
    height: 100%;
    width: 100%;
    overflow: hidden;
}


body{
    background-color: rgb(26, 28, 71);
    height: 100%;
    width: 100%;
    overflow: inherit;
}

.clip{
    display: inline-block;
    max-width: 320px;
    position: relative;
    background-color: lightgray;
    margin: 20px;
    height: 100%;
    vertical-align: middle;
    overflow: hidden;
    max-height: 500px;
    border-radius: 5px;
}

.clipPicture{
    display: block;
    margin-top: 5px;
    max-height: 180px;
    width: 100%;
}

.clipRef{
    display: block;
    background-color: rgba(0, 128, 0, 0.7);
    color: white;
    position: absolute;
    top: 5px;
    width: 100%;
    text-align: center;
    max-height: 30%;
    overflow: hidden;
}

.videosDiv:before{
    content: "";
    display: inline-block;
    min-height: inherit;
    height: 100%;
    vertical-align: middle;
  }

.videosDiv{
    display: inline-block;
    position: relative;
    height: 80%;
    width: 0px;
    vertical-align: middle;
    text-align: left;
}

.channelName{
    text-decoration: none;
}

.personIcon{
    display: inline-block;
    margin-left: 3%;
}

.usefullText{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    font-size: 24px;
    width: calc(80% - 24px);
}